*.idea/
*.ipynb_checkpoints/
*__pycache__/
venv
estimated_poles
exclusion_study
converging_poles
Untitled*
lightning_logs
wandb
*.zip
Engine/
data/
saved_models
learned_poles
*NS*
*.ckpt
*.sif
*plot_data/
